body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  margin: 0;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  overflow-x: hidden;
  background-color: #3d3d3d; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

a {
  outline: none; }

h3 {
  text-align: center; }

section,
.main-head {
  position: relative; }
  section h3,
  .main-head h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 25px; }

section {
  padding: 70px 0 90px; }
  section h2 {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 90px; }
    section h2::after {
      content: "";
      height: 1px;
      left: 50%;
      margin-left: -75px;
      margin-top: 60px;
      position: absolute;
      width: 150px; }

.main_head {
  min-height: 400px;
  width: 100%; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../img/preloader.svg");
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 120px;
    width: 120px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

.top_wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  vertical-align: middle; }
  .top_wrapper .top_descr {
    display: table-row; }
    .top_wrapper .top_descr .top_centered {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
  .top_wrapper .top_text {
    display: inline-block; }
    .top_wrapper .top_text p {
      margin: 0;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.2em;
      -webkit-animation-delay: 1.5s; }
    .top_wrapper .top_text h1 {
      display: inline-block;
      padding: 10px 30px;
      color: #fff;
      border: 4px solid #fff;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 3em;
      background-color: rgba(0, 0, 0, 0);
      margin-left: 20px;
      margin-right: 20px;
      -webkit-animation-delay: 1s; }

.top_menu {
  padding: 8px 0;
  position: relative;
  z-index: 50; }
  .top_menu ul,
  .top_menu li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline; }
  .top_menu ul {
    margin-top: 220px;
    text-align: center; }
    .top_menu ul a {
      display: block;
      padding: 20px 40px;
      text-transform: uppercase;
      font-size: 1.1em; }

.top_menu {
  text-align: center; }
  .top_menu li {
    display: inline-block; }

.t_menu {
  -webkit-animation-delay: 1.6s; }

header .container {
  text-align: center;
  width: 100%; }

.row_wrap {
  text-align: center; }

.main_footer {
  padding: 2.5% 0 0 0;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  color: #8886;
  position: absolute; }

.w_menu {
  text-align: center;
  z-index: 1000; }
  .w_menu .d_menu {
    position: fixed;
    text-align: center;
    width: 100%; }

.contact_box {
  margin-bottom: 30px; }
  .contact_box h3 {
    text-align: right;
    margin-bottom: 0;
    font-size: 15px; }
  .contact_box .contacts_icon {
    font-size: 40px; }
  .contact_box p {
    margin-top: 5px;
    text-align: right;
    margin-bottom: 40px;
    color: #fff; }

.contact_box {
  margin-left: 210px; }

form .form-group {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  color: #fff;
  letter-spacing: 2px; }

form input,
form textarea {
  display: block;
  width: 65%;
  border: none;
  margin-top: 5px;
  line-height: 40px;
  text-indent: 12px;
  font-size: 12px;
  background: #0009;
  color: #fff; }

.section_content .right {
  border-right: #d2d2d2 1px solid; }

.social_wrap {
  float: right;
  line-height: 0;
  margin-bottom: 40px;
  margin-top: 5px; }
  .social_wrap ul {
    margin: 0;
    list-style-type: none; }
    .social_wrap ul li {
      display: inline;
      font-size: 1.4em;
      margin-left: 5px; }

.btn {
  color: #93c95c;
  font-size: 13px;
  background: transparent;
  cursor: pointer;
  border: 1px solid #93c95c;
  width: 150px;
  height: 40px;
  position: relative;
  margin-top: 30px;
  left: 75px;
  top: 0%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  overflow: hidden;
  outline: none; }

.btn::before {
  content: '';
  position: absolute;
  top: -130px;
  margin: auto;
  display: block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 300px;
  height: 300px;
  left: -75px;
  -webkit-transition: box-shadow .6s ease-in-out;
  -webkit-transition: -webkit-box-shadow .6s ease-in-out;
  transition: -webkit-box-shadow .6s ease-in-out;
  -o-transition: box-shadow .6s ease-in-out;
  transition: box-shadow .6s ease-in-out;
  transition: box-shadow .6s ease-in-out, -webkit-box-shadow .6s ease-in-out;
  z-index: -1; }

.btn:hover {
  color: #fff; }

.btn:hover::before {
  -webkit-box-shadow: inset 0 0 0 160px #93c95c;
          box-shadow: inset 0 0 0 160px #93c95c; }

.s_cont {
  -webkit-background-size: cover;
          background-size: cover;
  color: #fff;
  z-index: 10; }

.d-block {
  padding-bottom: 40px;
  padding-top: 40px; }

.imgl {
  text-align: right; }

.imgc {
  text-align: center; }

.imgr {
  text-align: left; }

.p_img {
  padding: 40px; }

.imglist {
  margin: 0 200px 0;
  text-align: center; }

.column, .column1 {
  text-align: justify; }

.column {
  padding-left: 150px; }

.column1 {
  padding-right: 150px; }

.imgBox {
  padding: 0; }

.thumb img {
  height: 160px;
  width: 240px; }

.help-block ul {
  padding: 0; }
  .help-block ul li {
    list-style-type: none;
    font-size: 12px;
    color: red; }

form input:focus, form textarea:focus {
  outline: none;
  outline-offset: 0;
  border: none; }

.imgContent {
  height: 160px;
  width: 240px; }

.hover_cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media only screen and (max-width: 768px) {
  .top_menu {
    font-size: 15px; }
    .top_menu ul a {
      padding: 20px 20px; }
  form {
    margin-left: 25%;
    margin-right: 25%; }
    form input,
    form textarea {
      width: 100%; }
  .btn {
    left: none; }
  .contact_box {
    text-align: center;
    margin: 0 0 0 0; }
    .contact_box h3 {
      text-align: center; }
    .contact_box p {
      text-align: center; }
  .social_wrap {
    width: 100%;
    text-align: center; }
    .social_wrap ul {
      padding: 0 0 0 0; }
  .imgr, .imgc, .imgl {
    text-align: center; }
  .column {
    padding-left: 100px;
    padding-right: 100px; }
  .column1 {
    padding-right: 100px;
    padding-left: 100px; }
  .thumb img {
    height: 226px;
    width: 340px; } }

@media only screen and (max-width: 650px) {
  .top_menu {
    display: none; } }

@media only screen and (max-width: 950px) {
  .column {
    padding-left: 100px; }
  .column1 {
    padding-right: 100px; } }
